@import '_variable.scss';

.Icon {
  width: fit-content;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 0.8em;
  text-align: center;

  &.default {
    box-shadow: 0 0 0 1.2px rgba(256, 256, 256, 0.6);
    color: $white;
  }

  &.gray {
    box-shadow: 0 0 0 1.2px rgba(0, 0, 0, 0.6);
    color: $gray;
  }
}
