@import '_variable.scss';

@mixin pageDefault {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: $white;
}

/* Swiper */
.ContentsSwiper {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  background-color: $gray;
  overflow-y: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 5px;
  height: 20px;
  border-radius: 0;
  background-color: rgba(0,0,0,0.8);
}

/* MainPage */
.MainPage {
  display: flex;
  flex-direction: row;
  @include pageDefault;

  .MainLeft {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .MainRight {
    width: 50%;
    padding: 10.5%;
    box-sizing: border-box;
    text-align: left;

    .MyName {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 12px;
      margin-bottom: 15px;

      h1 {
        color: $yellow;
      }
    }

    .MainIntro {
      margin-bottom: 40px;
    }

    .MainInfo {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 40px;

      .InfoText {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        svg {
          font-size: 1.2em;
        }

        a {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: $purple;
            bottom: -5px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
          }

          &:hover:before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
      }
    }

    .MainSkillList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 15px;
    }
  }
}

/* IntroPage */
.IntroPage {
  @include pageDefault;
  text-align: center;
  padding: 0 14.2%;
  padding-bottom: 60px;

  .IntroTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;

    p {
      font-size: 0.8em;
    }

    h3 {
      margin-top: 20px;
    }
  }

  .IntroContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;

    p, span {
      font-size: 0.92em;
      line-height: 22px;
    }

    .background {
      padding: 0 2px;
      background-color: $yellow;
      color: #000;
    }
  }
}

/* SkillPage */
.SkillPage {
  @include pageDefault;
  padding: 0 14.2%;
  padding-bottom: 60px;

  .SkillTitle {
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .SkillList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* CareerPage */
.CareerPage {
  @include pageDefault;
  padding: 0 14.2%;
  padding-bottom: 60px;

  .CareerTitle {
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .CareerHistory {
    margin: 40px 0;

    div {
      position: relative;
      padding: 0 0 0 32px;

      &:before {
        content: "";
        position: absolute;
        left: 8px;
        top: 0;
        width: 2px;
        height: 100%;
        background: $rightgray;
      }

      &:first-child:before {
        top: 10px;
      }

      p {
        font-size: 22px;

        &:before {
          content: "";
          position: absolute;
          left: 2px;
          top: 4px;
          width: 14px;
          height: 14px;
          border-radius: 100%;
          background: $purple;
          box-sizing: border-box;
        }
      }

      ul {
        padding: 20px 0 60px;

        li {
          display: flex;
          align-items: flex-start;
          gap: 12px;
          font-size: 16px;
          margin-bottom: 20px;

          span {
            font-size: 18px;
            color: #96a5ff;
          }
        }
      }
    }
  }
}

/* ProjectPage */
.ProjectPage {
  @include pageDefault;
  padding: 0 14.2%;
  padding-bottom: 60px;

  .ProjectTitle {
    margin-top: 100px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1200px) {
  .MainPage {
    .MainLeft {
      display: none;
    }

    .MainRight {
      width: 100%;
      padding-top: 120px;
    }
  }

  .SkillPage {
    .SkillTitle {
      margin-top: 80px;
    }
  }

  .CareerPage {
    .CareerTitle {
      margin-top: 80px;
    }
  }

  .ProjectPage {
    .ProjectTitle {
      margin-top: 80px;
    }
  }
}

/* 스마트폰 / 태블릿 */
@media (pointer: coarse) {
  .MainPage {
    .MainRight {
      padding-top: 50%;
    }
  }

  .IntroPage {
    padding: 0 10%;

    .IntroTitle {
      margin-top: 18%;
    }

    .IntroContent {
      p, span {
        font-size: 0.88em;
      }

      > div {
        text-align: left;
      }
    }
  }

  .SkillPage {
    padding: 0 10%;

    .SkillTitle {
      margin-top: 18%;
    }
  }

  .CareerPage {
    padding: 0 10%;

    .CareerTitle {
      margin-top: 18%;
    }
  }

  .ProjectPage {
    padding: 0 10%;

    .ProjectTitle {
      margin-top: 18%;
    }
  }
}

/* 스마트폰 가로모드 */
@media (pointer: coarse) and (orientation:landscape) {
  .MainPage {
    .MainRight {
      padding-top: 5.2%;
    }
  }

  .IntroPage {
    .IntroTitle {
      margin-top: 4.2%;
      margin-bottom: 20px;
    }

    .IntroContent {
      gap: 25px;
    }
  }

  .SkillPage {
    .SkillTitle {
      margin-top: 4.2%;
    }
  }

  .CareerPage {
    .CareerTitle {
      margin-top: 4.2%;
    }

    .CareerHistory {
      display: flex;
      flex-flow: row;
      gap: 50px;

      div {
        &:before {
          top: 10px;
        }

        p {
          &:before {
            top: 6px;
          }
        }

        ul {
          padding-bottom: 12px;
        }
      }
    }
  }

  .ProjectPage {
    .ProjectTitle {
      margin-top: 4.2%;
      margin-bottom: 20px;
    }
  }
}
