@import '_variable.scss';

/* default */
h4 {
  font-size: 1.6em;
}

h3 {
  font-size: 2em;
}

h2 {
  font-size: 2.4em;
}

h1 {
  font-size: 2.8em;
}

p, span {
  font-size: 0.8em;
  letter-spacing: 0.5px;
  font-weight: 400;
}

ul {
	list-style:none;
}

a {
  text-decoration: none;
  color: $white;
}

@mixin pageDefault {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
  color: $white;
}

/* Swiper */
.ContentsArea {
  width: 100%;
  height: 100vh;
  background-color: $gray;
  overflow-y: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 5px;
  height: 20px;
  border-radius: 0;
  background-color: rgba(0,0,0,0.8);
}

/* MainPage */
.MainPage {
  display: flex;
  flex-direction: row;
  @include pageDefault;

  .MainLeft {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .MainRight {
    width: 50%;
    padding: $w - 50px $w;
    box-sizing: border-box;
    text-align: left;

    .MyName {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 12px;
      margin-bottom: 15px;

      h1 {
        color: $yellow;
      }
    }

    .MainIntro {
      margin-bottom: 40px;
    }

    .MainInfo {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 40px;

      .InfoText {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        svg {
          font-size: 1.2em;
        }

        a {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: $purple;
            bottom: -5px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
          }

          &:hover:before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
      }
    }

    .MainStack {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 15px;
    }
  }
}

/* IntroPage */
.IntroPage {
  @include pageDefault;

  .IntroMain {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 40px;

    p {
      font-size: 0.8em;
    }

    h3 {
      margin-top: 20px;
    }
  }

  .IntroCareer,
  .IntroStack {
    padding: 0 280px;
  }

  .IntroStack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* CareerPage */
.CareerPage {
  @include pageDefault;
  padding-left: $w + 200px;
  padding-right: $w + 200px;

  .CareerTitle {
    margin: 80px 0 40px;
  }

  .CareerHistory {
    margin: 40px 0;

    div {
      position: relative;
      padding: 0 0 0 48px;

      &:before {
        content: "";
        position: absolute;
        left: 8px;
        top: 0;
        width: 2px;
        height: 100%;
        background: $rightgray;
      }

      &:first-child:before {
        top: 10px;
        height: calc(100% - 10px);
      }

      p {
        font-size: 22px;

        &:before {
          content: "";
          position: absolute;
          left: 2px;
          top: 2px;
          width: 14px;
          height: 14px;
          border-radius: 100%;
          background: $purple;
          box-sizing: border-box;
        }
      }

      ul {
        padding: 20px 0 65px;

        li {
          span {
            font-size: 18px;
            color: #96a5ff;
          }

          display: flex;
          gap: 12px;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* ProjectPage */
.ProjectPage {
  @include pageDefault;
  padding-left: $w;
  padding-right: $w;

  .ProjectPageTitle {
    margin: 80px 0 60px;
  }
}

@media (max-width: 1400px) {
  .MainPage {
    .MainLeft {
      display: none;
    }

    .MainRight {
      width: 100%;
      padding: 150px 20%;
    }
  }

  .IntroPage {
    .IntroMain {
      padding-top: 60px;
      margin-bottom: 30px;
    }

    .IntroCareer,
    .IntroStack {
      padding: 0 15%;
    }
  }

  .CareerPage {
    padding-left: 20%;
    padding-right: 20%;
  }

  .ProjectPage {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (pointer: coarse) {
  .IntroPage {
    .IntroCareer,
    .IntroStack {
      padding: 0 8%;
    }
  }

  .CareerPage {
    padding: 0 8%;
  }

  .ProjectPage {
    padding: 0 8%;

    .ProjectArea {


      .swiper-slide-prev, .swiper-slide-next {
        .Project {
          width: 100%;
        }
      }
    }
  }
}
