@mixin pageDefault {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
  color: #fff;
}

/* Icon */
.Icon {
  width: fit-content;
  padding: 5px 10px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1.2px rgba(256, 256, 256, 0.6);
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

/* StatusBar */
.StatusBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 33.3%;
  padding: 10px 0 15px;
  margin-top: 25px;
  background: transparent;

  span {
    width: 100px;
    padding-left: 66px;
  }

  ul {
    width: 100%;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    li {
      float: left;
      position: relative;
      width: 33.3%;
      padding-top: 40px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      line-height: 12px;
      color: #666;

      &:first-child {
        font-size: 13px;
      }

      &:before {
        position: absolute;
        top: 22.5px;
        left: 0;
        right: 0;
        height: 6px;
        background: #ddd;
        content: '';
      }

      &:nth-child(1):before {
        left: 50%;
        border-radius: 2px 0 0 2px;
      }

      &:nth-child(3):before {
        right: 50%;
        border-radius: 0 2px 2px 0;
      }

      p:after {
        position: absolute;
        width: 41px;
        height: 24px;
        margin-right: -20px;
        background-size: auto 24px;
        background-position: -58px 0;
        top: 0;
        right: 0;
        color: #fff;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -.5px;
      }

      p:before {
        position: absolute;
        top: 22.5px;
        left: 50%;
        right: 0;
        height: 6px;
        content: '';
      }
    }
  }

  &.Status1 {
    ul {
      li:nth-child(1):before {
        background: #96a5ff;
      }
    }
  }

  &.Status2,
  &.Status2-5 {
    ul {
      li:nth-child(-n+2):before {
        background: #96a5ff;
      }
    }
  }

  &.Status2 {
    ul {
      li:nth-child(2) {
        p:before {
          background: #ddd;
        }
      }
    }
  }

  &.Status3 {
    li:nth-child(-n+3):before {
      background: #96a5ff;
    }
  }
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 14%;
  background-color: #232323;
  color: #fff;
  box-sizing: border-box;
  box-shadow: 2px 5px 20px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;

  .HeaderLeft {
    width: 25px;
    height: 25px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .HeaderRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    a {
      width: 20px;
      height: 20px;
      color: #fff;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* ScrollDown */
.ScrollDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  z-index: 2;

  p {
    font-size: 16px;
  }

  span {
    display: block;
    width: 2px;
    height: 50px;
    background-color: #fff;
  }
}
/* Swiper */
.ContentsArea {
  width: 100%;
  height: 100vh;
  background-color: #232323;
  overflow-y: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 5px;
  height: 20px;
  border-radius: 0;
  background-color: rgba(0,0,0,0.8);
}

/* MainPage */
.MainPage {
  display: flex;
  flex-direction: row;
  @include pageDefault;

  .MainLeft {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .MainRight {
    width: 50%;
    padding: 150px 200px;
    box-sizing: border-box;
    text-align: left;

    .MyName {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 12px;
      margin-bottom: 15px;
    }

    .MainIntro {
      margin-bottom: 40px;
    }

    .MainInfo {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 40px;

      .InfoText {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
    }

    .MainStack {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 15px;
    }
  }
}

/* IntroPage */
.IntroPage {
  @include pageDefault;

  .IntroMain {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 40px;

    p {
      font-size: 14px;
    }

    h3 {
      margin-top: 20px;
    }
  }

  .IntroCareer,
  .IntroStack {
    padding: 0 280px;
  }

  .IntroStack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* CareerPage */
.CareerPage {
  @include pageDefault;
  padding-left: 400px;
  padding-right: 400px;

  .CareerTitle {
    margin: 80px 0 40px;
  }

  .CareerHistory {
    margin: 40px 0;

    div {
      position: relative;
      padding: 0 0 0 48px;

      &:before {
        content: "";
        position: absolute;
        left: 8px;
        top: 0;
        width: 2px;
        height: 100%;
        background: #ddd;
      }

      &:first-child:before {
        top: 10px;
        height: calc(100% - 10px);
      }

      p {
        font-size: 22px;

        &:before {
          content: "";
          position: absolute;
          left: 0px;
          top: 0px;
          width: 17px;
          height: 17px;
          border-radius: 100%;
          background: #96a5ff;
          box-sizing: border-box;
        }
      }

      ul {
        padding: 20px 0 65px;

        li {
          span {
            font-size: 18px;
            color: #96a5ff;
          }

          display: flex;
          gap: 12px;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .MainPage {
    .MainLeft {
      display: none;
    }

    .MainRight {
      width: 100%;
      padding: 150px 20%;
    }
  }

  .IntroPage {
    .IntroMain {
      padding-top: 60px;
      margin-bottom: 30px;
    }

    .IntroCareer,
    .IntroStack {
      padding: 0 15%;
    }
  }

  .CareerPage {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (pointer: coarse) {
  .ScrollDown {
    p {
      font-size: 14px;
    }

    span {
      height: 30px;
    }
  }

  .StatusBar {
    width: 50%;
    gap: 0px;
    margin-top: 10px;

    span {
      padding-left: 20px;
    }
  }

  .IntroPage {
    .IntroCareer,
    .IntroStack {
      padding: 0 5%;
    }
  }
}
