@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  font-family: Pretendard, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div, p, span, a, h1, h2, h3, h4, h5, h6, ul ,li {
  margin: 0;
  padding: 0;
}

/* default */
h4 {
  font-size: 24px;
}

h3 {
  font-size: 34px;
}

h2 {
  font-size: 44px;
}

h1 {
  font-size: 54px;
}

p, span {
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

ul {
	list-style:none;
}

.yellow {
  color: #F5E189;
}

.KCC-eunyoung {
  font-family: 'KCC-eunyoung', Pretendard, 'Segoe UI', 'Roboto', sans-serif;
}
